﻿<!DOCTYPE html>
<html>
<head>
    <title>Coding Test</title>
    <meta name="viewport" content="width=device-width" />
    <link href="Styles/Styles.css" rel="stylesheet" />
    <script src="Scripts/Utilities/angular.js"></script>
    <script src="Scripts/Global/App.js"></script>
    <script src="Scripts/Controllers/BlackJackScoreCalculatorController.js"></script>
</head>
<body ng-app="AppGlobal">
    <div class="panel">BlackJack Score Calculator</div>
    <div ng-controller="BlackJackScoreCalculatorController">
        <div class="panel">
            Number of Cards <select ng-options="o for o in playingCardCountOptions" ng-model="playingCardCount"></select>
        </div>
        <div class="panel" ng-repeat="c in playingCards" ng-show="c.card">
            Card {{c.index}}
            <select ng-options="o.faceValue for o in cards" ng-model="c.card" ng-change="playingCardUpdated()"></select>
        </div>
        <div class="panel">
            Score = {{score}}
        </div>
    </div>
</body>
</html>
